@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face{
    font-family: 'valianttimesFont';
    src: url(../font/valianttimes.ttf)
}

html, body{
    scroll-behavior: smooth;
    color: black;
    height: 100%;
    width: 100%;    
    font-family: 'Lato', sans-serif; 
    font-size: medium;
    background-color: #f4f4f4;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a :hover{
    text-decoration: none !important;
    color: blue;    
}

.brand h1{     
    color: black;
    font-family: valianttimesFont;
    font-size: 4em;
    line-height: 0.7em;    
}

.border-b{
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.border-c{
    border-bottom: 1px solid black;    
}

.jumbotron1{    
    background-color: tan;
    color: black;
    border-radius: 0em !important;    
}

.jumbotron1 p{
    font-size: medium;
}

.jumbotron1 p:hover{
    cursor: pointer;
}

.jumbotron1 a:hover{
    color: darkblue;
}

hr{
    border-color: gray;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.lists p{
    font-size: 0.9em;    
    line-height: 0.8em;
    color: rgb(63, 62, 62);
}

.jumbotron2{
    color: black;
    border-radius: 0em !important;
    margin: 0em;
    padding: 0em !important;
    background-color: transparent;
}

.jumbotron2 p{
    font-size: medium;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    height: 100%;
}

.jumbotron3{    
    background-color: #c3d6d5;
    color: black;
    border-radius: 0em !important;
    padding-left: 7% !important;
    padding-right: 3% !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;    
}

.jumbotron3 p{
    font-size: medium;
}

.jumbotron4{    
    background-color: #c3d6d5;
    color: black;
    border-radius: 0em !important;
    padding-left: 7% !important;
    padding-right: 3% !important;
    padding-top: 1em !important;    
}

.jumbotron4 p{
    font-size: medium;
}

.padding{
    margin-bottom: 1em;
}

.card-title{
    font-weight: 600;
}

.pitch-head{
    font-size: 3em !important;
}

.blue-link{
    color: darkblue;
}

.comment-card{
    padding-top: 0.5em;    
}
