@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face{
    font-family: 'valianttimesFont';
    src: url(../font/valianttimes.ttf)
}

html, body{
    scroll-behavior: smooth;
    color: black;
    height: 100%;
    width: 100%;    
    font-family: 'Lato', sans-serif; 
    font-size: medium;
    background-color: #f4f4f4;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a :hover{
    text-decoration: none !important;
    color: lightcyan;    
}

.brand h1{     
    color: black;
    font-family: valianttimesFont;
    font-size: 4em;
    line-height: 0.7em;    
}

.border-b{
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.border-c{
    border-bottom: 1px solid black;    
}

.jumbotron1{    
    background-color: tan;
    color: black;
    border-radius: 0em !important;    
}

.jumbotron1 p{
    font-size: medium;
}

.jumbotron1 p:hover{
    cursor: pointer;
}

.jumbotron1 a:hover{
    color: darkblue;
}

hr{
    border-color: gray;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.lists p{
    font-size: 0.9em;    
    line-height: 0.8em;
    color: rgb(63, 62, 62);
}

.jumbotron2{
    color: black;
    border-radius: 0em !important;
    margin: 0em;
    padding: 0em !important;
    background-color: transparent;
}

.jumbotron2 p{
    font-size: medium;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    height: 100%;
}

.jumbotron3{    
    background-color: #dbe6e5;
    color: black;
    border-radius: 0em !important;
    padding-left: 7% !important;
    padding-right: 3% !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;    
}

.jumbotron3 p{
    font-size: medium;
}

.jumbotron4{    
    background-color: #dbe6e5;
    color: black;
    border-radius: 0em !important;
    padding-left: 7% !important;
    padding-right: 3% !important;
    padding-top: 1em !important;    
}

.jumbotron4 p{
    font-size: medium;
}

.padding{
    margin-bottom: 1em;
}

.card-title{
    font-weight: 600;
}

.pitch-head{
    font-size: 3em !important;
}

/*.card{
    padding-top: 3%;
    padding-bottom: 3%;    
}

.card p{
    font-size: medium;
} */

.comment-card{
    padding-top: 0.5em;    
}

/* .card img{
    object-fit: cover;
    max-width: 100%;    
}

.headline a{
    color: rgb(14, 67, 121);
}

.headline a:hover{
    color: blue;
}

.head-suffix{
    font-size: 0.7em !important;
}

.carousel-inner img{
    max-height: 35vh; 
    object-fit: cover;     
}

label{    
    font-weight: 600;
    font-size: large;
}

.item img {
    width:100%
}

@media screen and (max-width: 1250px) {
    .brand h1{      
        font-size: 3em;    
    }
    .lists p{
        line-height: 1em;
    }
    .carousel-inner img{
        max-height: 22vh;
        object-fit: cover;    
    }
    .carousel-caption p{
        font-size: small;
    }
}

@media screen and (max-width: 768px) {
    .brand h1{      
        font-size: 5em;    
    }
    .lists p{
        line-height: 0.8em;
    }
}

@media screen and (min-width: 992px) {
    .card-img-top {
        width: 100%;
        height: 120px; 
        object-fit: cover;   
    }   
}*/