<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            padding-left: 5%;
            padding-right: 5%;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <h3>Hello {{user.username}}</h3>
        <p>Welcome to PitchForum.</p>
        <p>With a PitchForum account you can submit your pitches for the world to see, and share your thoughts on other pitches through comments.</p>
        <p>Start your journey today with a great one-minute pitch.</p>
        <p>Enjoy!</p><br>
        <h4>-PitchForum Team</h4>
    </div>    
</body>
</html>