{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% import 'macros.html' as macro%}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!--Sidenav-->
        <div class="col-xs-12 col-md-3">
            <div class="jumbotron jumbotron1">
                <div class="row border-b">
                    <div class="col-xs-12 brand">
                        <a href="/">
                            <h1>Pitch</h1>
                            <h1>Forum</h1>
                        </a>
                        <h3 class="text-right">- a minute's pitch</h3>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-xs-12">
                        <p><a href="/">Top pitches</a></p>
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Categories</p>
                            </div>                            
                            <div class="col-xs-12">
                                <div class="row lists">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        <p><a href="{{url_for('main.category',cat='pickup')}}">Pickup lines</a></p>
                                        <p><a href="{{url_for('main.category',cat='interview')}}">Interview pitch</a></p>
                                        <p><a href="{{url_for('main.category',cat='product')}}">Product pitch</a></p>
                                        <p><a href="{{url_for('main.category',cat='promotion')}}">Promotion pitch</a></p>
                                        <p><a href="{{url_for('main.category',cat='idea')}}">Idea pitch</a></p>                                         
                                    </div>
                                </div>
                            </div>
                        </div>                                               
                        <hr>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <p><a href="{{url_for('main.new_pitch')}}">Submit pitch</a></p>
                            </div>                           
                        </div>                                               
                        <hr>
                    </div>                    
                </div>
            </div>
        </div>

        <!--Content section-->
        <div class="col-xs-12 col-md-6">
            <div class="jumbotron jumbotron2">                
                <div class="row">
                    <div class="col-xs-12 border-b">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{pitch.pitch_title | upper}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{pitch.category | upper}} PITCH</h6>                    
                                <h6 class="card-subtitle mb-2 text-muted">{{pitch.posted}}</h6>
                                <p class="card-text">{{pitch.pitch_text}}</p>
                                <p>Posted by: {{pitch.user}}</p>                    
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        {{ wtf.quick_form(comment_form) }}        
                    </div><br>
                    {{macro.displayComments(comments)}}
                </div>
            </div>
        </div>

        <!--right column section-->
        <div class="col-xs-12 col-md-3">
            <div class="jumbotron jumbotron3">

                {% if current_user.is_authenticated %}                    
                    <h3>{{current_user.username| capitalize}}</h3>
                    <p class="text-muted"><a href="{{url_for('main.profile',uname=current_user.username)}}">View profile</a></p>
                    <a href="{{url_for('auth.logout')}}"><button class="btn btn-secondary">Sign out</button></a>                    
                {% else %}
                    <a href="{{url_for('auth.login')}}"><button class="btn btn-primary">Sign in</button></a>                    
                {%endif%}

            </div>
            <div class="jumbotron jumbotron4">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Top Story</h2>
                        <p>View comments, add comment, sign up</p>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

{% endblock %}
